/* Error: expected "{".
 *   ,
 * 2 | 윤식이퀘스쳔칸,,,그거 써도 ㄱㅊ을듯 누르면 수록곡 나오게 
 *   |                                  ^
 *   '
 *   scss\Sub\_soloJong.scss 2:34  @import
 *   scss\style.scss 14:9          root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: 'Error: expected "{".\a   \2577 \a 2 \2502  \c724 \c2dd \c774 \d018 \c2a4 \ccd4 \ce78 ,,,\adf8 \ac70  \c368 \b3c4  \3131 \314a \c744 \b4ef  \b204 \b974 \ba74  \c218 \b85d \ace1  \b098 \c624 \ac8c  \a   \2502                                   ^\a   \2575 \a   scss\\Sub\\_soloJong.scss 2:34  @import\a   scss\\style.scss 14:9          root stylesheet';
}
