*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul,
ol,
li{
    list-style: none;
}

a{
    text-decoration: none;
}

body{
    overflow-x: hidden;

}

// 스크롤 바 
.scroll{
    
    position: fixed;
    right: 50px;
    top: 50%;
    transform: translateY(-50%);

    li{
        width: 20px;
        height: 20px;
        border-radius: 10px;
        background-color: #777;
        margin-bottom: 20px;
        cursor: pointer;

        &.on{
            height: 80px;
            background-color: #000;
        }
    }

    
}